.App {
  text-align: center;
  height: 100vh;
  background-image: url("https://previews.123rf.com/images/jojjik/jojjik1205/jojjik120500256/13859455-large-corkboard-texture-or-background.jpg");
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App header{
  height: 100%
}

.Footer{
  bottom: 0;
  text-align: center;
  position: fixed;
  background-color: #4D3211;
  width: 100%;
}

.navbar{
  background-color: #4D3211;
}

.new{
  margin-top: 10%;
  /* position: fixed */
}

.todo{
  margin-top: 5%;
  margin-bottom: 10%;
  background-image: url("https://previews.123rf.com/images/jojjik/jojjik1205/jojjik120500256/13859455-large-corkboard-texture-or-background.jpg");
  background-size: cover;
}

.singleTodo{
  margin-bottom: 10%;
  background-color: #FCE851;
}
.form{
  margin-top: 5%;
  
}

.singleTodo{
  border-style: double;
  margin-left: 30%;
  margin-right: 30%;
  position: relative;
  padding-left: 0;
  
}

.delete{
  width:100%
}
@media only screen and (min-width: 768px){
  .singleTodo{
    height: 20vh;
    position: relative;
  }
  button.delete{
    position: absolute;
    right: 0;
    bottom: 0;
    /* margin-right: 5%; */
    
  }
}

@media only screen and (min-width: 1024px){
  .singleTodo{
    height: 40vh;
    
  }
}

